<!-- 播放、加载进度条 -->
<template>
  <div class="audio-scrollbar" @mousedown.stop="handleClick">
    <div ref="track" class="audio-scrollbar-track">
      <div ref="loaded" class="audio-scrollbar-progress-load"></div>
      <div ref="progress" class="audio-scrollbar-progress"></div>
      <div ref="tags" class="audio-scrollbar-tags">
        <span
          v-for="(item, index) in tags"
          :key="`${Date.now()}_${index}`"
          :style="{ left: item.st + '%', width: item.end - item.st + '%' }"
        ></span>
      </div>
      <div ref="fluentTags" class="audio-scrollbar-fluent">
        <span
          v-for="(item, index) in fluentTags"
          :key="`${Date.now()}_${index}`"
          :style="{ left: item.st + '%', width: item.end - item.st + '%' }"
        ></span>
      </div>
      <span ref="thumb" class="audio-scrollbar-thumb" @mousedown.prevent.stop="handleDragStart"></span>
    </div>
  </div>
</template>

<script>
import util from '../assist'

export default {
  name: 'AudioProgressScrollbar',

  props: {
    value: { type: Number, default: 0 }, // 进度值0-100
    buffered: { type: Number, default: 0 }, // 已加载值0-100
    disabled: { type: Boolean, default: false }, // 是否禁用
    onChange: {
      type: Function,
      default: () => []
    }, // 音量发生改变时回调
    tags: {
      type: Array,
      default: () => []
    }, // 标记
    fluentTags: {
      type: Array,
      default: () => []
    } // 标记
  },

  data () {
    return {
      minVal: 0, // 拖动范围最小值
      maxVal: 0, // 拖动范围最大值
      currentPosition: 0, // 播放进度值
      currentLoadedPosition: 0, // 加载进度值
      isDraging: false // 是否正在拖动
    }
  },

  watch: {
    // 播放进度值
    value (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setPosition(newVal)
      }
    },

    // 加载进度值
    buffered (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setLoadedPosition(newVal)
      }
    }
  },

  mounted () {
    this.handleDraging = this.handleDraging.bind(this)
    this.handleDragEnd = this.handleDragEnd.bind(this)
    this.updateScrollSize()
    this.setPosition(this.value)
    this.setLoadedPosition(this.buffered)
  },

  methods: {
    /**
     * 更新滚动范围
     */
    updateScrollSize () {
      const trackSize = this.getTrackSize()
      this.minVal = 0
      this.maxVal = trackSize.width
    },

    /**
     * 获取滚动轨道尺寸
     * @return {Object} { width, height }
     */
    getTrackSize () {
      const { offsetWidth: width, offsetHeight: height } = this.$refs.track
      return { width, height }
    },

    /**
     * 设置滚动条位置
     * @param {Number} value 0 - 100
     */
    setPosition (value, dispatch = 0) {
      this.currentPosition = value
      this.$refs.thumb.style.left = `${value}%`
      this.$refs.progress.style.width = `${value}%`
      // 回调以及派发事件
      if (dispatch === 1) {
        this.onChange(value)
        this.$emit('change', value)
      }
    },

    getCPosition (value) {
      const { minVal, maxVal } = this
      if (value < minVal) value = 0
      if (value > maxVal) value = maxVal
      value = parseInt((value / maxVal) * 100)
      return value
    },

    /**
     * 设置加载进度条位置
     */
    setLoadedPosition (value) {
      value = parseInt(value)
      value = Math.max(0, Math.min(value, 100))
      this.currentLoadedPosition = value
      this.$refs.loaded.style.width = `${value}%`
    },

    /**
     * 拖动开始
     * @param  {[type]} evt [description]
     * @return {[type]}       [description]
     */
    handleDragStart (evt) {
      if (this.disabled) return
      this.updateScrollSize()
      const left = parseInt(this.$refs.thumb.style.left)
      this.startPos = evt.pageX
      this.thumbPos = parseInt((left / 100) * this.maxVal)
      this.isDraging = true
      this.$emit('dragstart', this.isDraging)
      document.addEventListener('mousemove', this.handleDraging)
      document.addEventListener('mouseup', this.handleDragEnd)
    },

    /**
     * 拖动中
     * @param  {[type]} evt [description]
     * @return {[type]}       [description]
     */
    handleDraging (evt) {
      if (!this.isDraging) return
      let value = evt.pageX - this.startPos + this.thumbPos
      value = this.getCPosition(value)
      this.setPosition(value, 1)
      this.$emit('draging', this.isDraging)
    },

    /**
     * 拖动结束
     * @return {[type]} [description]
     */
    handleDragEnd (evt) {
      this.isDraging = false
      this.$emit('dragend', this.isDraging)
      let value = evt.pageX - this.startPos + this.thumbPos
      value = this.getCPosition(value)
      this.setPosition(value, 1)
      document.removeEventListener('mousemove', this.handleDraging)
      document.removeEventListener('mouseup', this.handleDragEnd)
    },

    /**
     * 点击滚动条位置
     */
    handleClick (evt) {
      if (this.disabled) return
    //   let target = evt.target
      const { left } = util.getOffset(evt.target)
      let value = evt.pageX - left
      value = this.getCPosition(value)
      this.setPosition(value, 1)
    }
  }
}
</script>
