<!-- 音量控制条 -->
<template>
  <div class="volumn-box">
    <a href="javascript:void(0);" class="btn-mute" @click.prevent="handleMute">
      <i :class="(currentPosition === 0) ? ['icon icon-audio-mute'] : ['icon icon-audio-unmute']" />
    </a>
    <div class="volumn-scrollbar" @mousedown.stop="handleClick">
      <div ref="track" class="volumn-scrollbar-track">
        <div ref="progress" class="volumn-scrollbar-progress"></div>
        <span ref="thumb" class="volumn-scrollbar-thumb" @mousedown.prevent.stop="handleDragStart"></span>
      </div>
    </div>
  </div>
</template>

<script>
import util from '../assist'

export default {
  name: 'AudioVolumbScrollbar',

  props: {
    value: { type: Number, default: 50 }, // 进度值（0-100）
    disabled: { type: Boolean, default: false }, // 是否禁用
    onChange: {
      type: Function,
      default: () => []
    }, // 音量发生改变时回调
    onMute: {
      type: Function,
      default: () => []
    } // 静音切换
  },

  data () {
    return {
      minVal: 0, // 拖动范围最小值
      maxVal: 0, // 拖动范围最大值
      isMute: false, // 是否静音
      oldValue: 0, // 保存点击静音按钮前的音量值
      currentPosition: 0, // 当前值
      isDraging: false // 是否正在拖动
    }
  },

  watch: {
    // 监听音量值
    value (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setPosition(newVal)
      }
    }
  },

  mounted () {
    this.handleDraging = this.handleDraging.bind(this)
    this.handleDragEnd = this.handleDragEnd.bind(this)
    this.updateScrollSize()
    this.setPosition(this.value)
  },

  methods: {
    /**
     * 更新滚动范围
     */
    updateScrollSize () {
      const trackSize = this.getTrackSize()
      this.minVal = 0
      this.maxVal = trackSize.width
    },

    /**
     * 获取滚动轨道尺寸
     * @return {Object} { width, height }
     */
    getTrackSize () {
      const { offsetWidth: width, offsetHeight: height } = this.$refs.track
      return { width, height }
    },

    /**
     * 设置滚动位置
     * @param {Number} value 0-100
     */
    setPosition (value, dispatch = 0) {
      this.currentPosition = value
      this.$refs.thumb.style.left = `${value}%`
      this.$refs.progress.style.width = `${value}%`
      // 回调以及派发事件
      if (dispatch === 1) {
        this.onChange(value)
        this.$emit('change', value)
      }
    },

    getCPosition (value) {
      const { minVal, maxVal } = this
      if (value < minVal) value = 0
      if (value > maxVal) value = maxVal
      value = parseInt((value / maxVal) * 100)
      return value
    },

    /**
     * 拖动开始
     */
    handleDragStart (evt) {
      if (this.disabled) return
      this.updateScrollSize()
      const left = parseInt(this.$refs.thumb.style.left)
      this.startPos = evt.pageX
      this.thumbPos = parseInt((left / 100) * this.maxVal)
      this.isDraging = true
      this.$emit('dragstart', this.isDraging)
      document.addEventListener('mousemove', this.handleDraging)
      document.addEventListener('mouseup', this.handleDragEnd)
    },

    /**
     * 拖动中
     */
    handleDraging (evt) {
      if (!this.isDraging) return
      let value = evt.pageX - this.startPos + this.thumbPos
      value = this.getCPosition(value)
      this.setPosition(value, 1)
      this.$emit('draging', this.isDraging)
    },

    /**
     * 拖动结束
     */
    handleDragEnd (evt) {
      this.isDraging = false
      this.$emit('dragend', this.isDraging)
      let value = evt.pageX - this.startPos + this.thumbPos
      value = this.getCPosition(value)
      this.setPosition(value, 1)
      document.removeEventListener('mousemove', this.handleDraging)
      document.removeEventListener('mouseup', this.handleDragEnd)
    },

    /**
     * 点击滚动条位置
     */
    handleClick (evt) {
      if (this.disabled) return
      const { left } = util.getOffset(evt.target)
      let value = evt.pageX - left
      value = this.getCPosition(value)
      this.setPosition(value, 1)
    },

    /**
     * 静音&取消静音
     */
    handleMute () {
      if (this.isMute) {
        this.setPosition(this.oldVal)
      } else {
        this.oldVal = this.currentPosition
        this.setPosition(0)
      }
      this.isMute = !this.isMute

      const isMute = this.isMute
      const value = isMute ? 0 : this.oldVal
      const params = { isMute, value }

      this.onMute(params)
      this.$emit('mute', params)
    }
  }
}
</script>
