<template>
  <a-list
    itemLayout="horizontal"
    :dataSource="data"
  >
    <a-list-item slot="renderItem" slot-scope="item, index" :key="index">
      <a-list-item-meta>
        <a slot="title">{{ item.title }}</a>
        <span slot="description">
          <span class="security-list-description">{{ item.description }}</span>
          <span v-if="item.value"> : </span>
          <span class="security-list-value">{{ item.value }}</span>
        </span>
      </a-list-item-meta>
      <template v-if="item.actions">
        <a slot="actions" @click="handleUpdate(index)">{{ item.actions.title }}</a>
      </template>

    </a-list-item>
  </a-list>
</template>

<script>
export default {
data () {
  return {
    userInfo: {}
  }
},
mounted () {
  this.loadUserInfo()
},
methods: {
  loadUserInfo () {
    this.userInfo = this.$store.getters.userInfo
      console.log('loadUserInfo', this.userInfo)
  },
  handleUpdate (index) {
    switch (index) {
      case 0:
        this.$router.push({ path: '/account/settings/security/UpdatePassword' })
      break
      case 1:
        this.$router.push({ path: '/account/settings/security/UpdateMobile' })
      break
      case 2:
        this.$router.push({ path: '/account/settings/security/UpdateEmail' })
      break
    }
  }
},
computed: {
    data () {
        return [
        { title: this.$t('account.settings.security.password'), description: this.$t('account.settings.security.password-description'), value: '强', actions: { title: this.$t('account.settings.security.modify'), callback: () => { this.$message.info('This is a normal message') } } },
        { title: this.$t('account.settings.security.phone'), description: this.$t('account.settings.security.phone-description'), value: this.userInfo.userPhoneNum, actions: { title: this.$t('account.settings.security.modify'), callback: () => { this.$message.success('This is a message of success') } } },
        // { title: this.$t('account.settings.security.question'), description: this.$t('account.settings.security.question-description'), value: '', actions: { title: this.$t('account.settings.security.set'), callback: () => { this.$message.error('This is a message of error') } } },
        { title: this.$t('account.settings.security.email'), description: this.$t('account.settings.security.email-description'), value: this.userInfo.userEmail, actions: { title: this.$t('account.settings.security.modify'), callback: () => { this.$message.warning('This is message of warning') } } }
      ]
    }
  }
}
</script>

<style scoped>

</style>
