<template>
  <a-card>
    <h2>修改账号密码</h2>
    <div class="account-settings-info-view">
      <a-row :gutter="16" type="flex" justify="left">
        <a-col :order="isMobile ? 2 : 1" :md="24" :lg="10">
          <a-form layout="vertical">
            <a-form-item :label="$t('account.settings.menuMap.security.current-password')">
              <a-input placeholder="请输入原密码：" v-model="oldPassword"/>
            </a-form-item>
            <a-form-item :label="$t('account.settings.menuMap.security.new-password')">
              <a-input placeholder="请输入新密码：" v-model="newPassword"/>
            </a-form-item>
            <a-form-item :label="$t('account.settings.menuMap.security.confirm-password')">
              <a-input placeholder="请确认新密码：" v-model="confirmPassword"/>
            </a-form-item>
          </a-form>
        </a-col>
      </a-row>
      <a-button type="primary" @click="back" :loading="loading">返回</a-button>
      <a-button
        type="primary"
        @click="updatePassword"
        :loading="loading"
        :style="{ marginLeft: '20px' }"
      >提交</a-button>
    </div>
  </a-card>
</template>

<script>
import { message } from 'ant-design-vue'
import { updateUserInfo } from '@/api/login'
import md5 from 'md5'
import storage from 'store'
import { USER_ID } from '@/store/mutation-types'
// import { createConvert } from '@/api/verify'

export default {
  name: 'UpdatePassword',
  data () {
    return {
      oldPassword: '',
      newPassword: '',
      confirmPassword: ''
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    // 更新账号密码
    updatePassword () {
      if (this.oldPassword.length === 0) {
        message.info('请输入原密码')
        return
      }
      if (this.newPassword.length === 0) {
        message.info('请输入新密码')
        return
      }
      if (this.confirmPassword.length === 0) {
        message.info('请确认新密码')
        return
      }
      const params = {
        // 修改密码
        updateType: 1,
        userId: storage.get(USER_ID),
        userPassword: md5(this.oldPassword),
        newUserPassword: md5(this.newPassword)
      }
      console.log('updatePassword', params)
      updateUserInfo(params).then(res => {
        if (res.code === 200) {
          this.$message.success('修改成功')
          this.$router.go(-1)
        } else {
          this.$message.info('修改失败')
        }
      })
    }
  }
}
</script>
