<template>
  <a-card>
    <h2>账号手机修改</h2>
    <div class="account-settings-info-view">
      <a-row :gutter="16" type="flex" justify="left">
        <a-col :order="isMobile ? 2 : 1" :md="24" :lg="10">
          <a-form layout="vertical">
            <a-form-item :label="$t('account.settings.menuMap.security.current-password')">
              <a-input placeholder="请输入原密码：" v-model="oldPassword"/>
            </a-form-item>
            <a-form-item :label="$t('account.settings.menuMap.security.new-mobile')">
              <a-input placeholder="请输入新手机号：" v-model="mobile"/>
            </a-form-item>
          </a-form>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="4" :sm="24">
          <a-form-item :label="$t('account.settings.menuMap.security.new-mobile-code')">
            <a-input placeholder="验证码" v-model="mobileCode"/>
          </a-form-item>
        </a-col>
        <a-col :md="2" :sm="24">
          <a-button @click="sendCode" type="primary" :loading="loading" :style="{ marginLeft: '20px' ,marginTop: '40px'}">发送验证码</a-button>
        </a-col>
        </a-row>
      <a-button type="primary" @click="back" :loading="loading">返回</a-button>
      <a-button
        type="primary"
        @click="updateMobile"
        :loading="loading"
        :style="{ marginLeft: '20px' }"
      >提交</a-button>
    </div>
  </a-card>
</template>

<script>
import { message } from 'ant-design-vue'
import { updateUserInfo, SmsCode } from '@/api/login'
import storage from 'store'
import { USER_ID } from '@/store/mutation-types'
import md5 from 'md5'
// import { createConvert } from '@/api/verify'

export default {
  name: 'UpdateMobile',
  data () {
    return {
      oldPassword: '',
      mobile: '',
      mobileCode: ''
    }
  },
  methods: {
    // 发送验证码
    sendCode () {
      SmsCode({ userPhoneNum: this.mobile }).then(res => {
            this.$notification['success']({
              message: '提示',
              description: '验证码获取成功，您的验证码为：' + res.result.captcha,
              duration: 8
            })
          })
    },
    back () {
      this.$router.go(-1)
    },
    // 更新手机号
    updateMobile () {
      if (this.oldPassword.length === 0) {
        message.info('请输入原密码')
        return
      }
      if (this.mobile.length === 0) {
        message.info('请输入新手机号')
        return
      }
      if (this.mobileCode.length === 0) {
        message.info('请确认验证码')
        return
      }
      const params = {
        // phoneNum
        updateType: 3,
        userId: storage.get(USER_ID),
        userPhoneNum: this.mobile,
        smsCode: parseInt(this.mobileCode),
        userPassword: md5(this.oldPassword)
      }
      console.log('updatePassword', params)
      updateUserInfo(params).then(res => {
        if (res.code === 200) {
          this.$message.success('修改成功')
          this.$router.go(-1)
        } else {
          this.$message.info('修改失败')
        }
      })
    }
  }
}
</script>
