<template>
  <a-card>
    <div class="account-settings-info-view">
      <a-row :gutter="16" type="flex" justify="left">
        <a-col :order="isMobile ? 2 : 1" :md="24" :lg="10">
          <a-form layout="vertical">
            <a-form-item :label="$t('review.createtask.audiourl')">
              <a-input placeholder="https://" v-model="audioUri"/>
            </a-form-item>
            <a-form-item :label="$t('review.createtask.audioname')">
              <a-input placeholder="请输入音频名称：" v-model="audioName"/>
            </a-form-item>
          </a-form>
        </a-col>
      </a-row>
      <a-form-item :label="$t('review.createtask.transfer.level')">
        <a-select placeholder="请选择" default-value="0" :style="{ width: '120px' }">
          <a-select-option value="0">默认</a-select-option>
        </a-select>
      </a-form-item>
      <a-button type="primary" @click="back" :loading="loading">返回</a-button>
      <a-button
        type="primary"
        @click="createTask"
        :loading="loading"
        :style="{ marginLeft: '20px' }"
      >新增任务</a-button>
    </div>
  </a-card>
</template>

<script>
import { message } from 'ant-design-vue'
import { createConvert } from '@/api/verify'

export default {
  data () {
    return {
      audioUri: '',
      audioName: ''
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    createTask () {
      if (this.audioUri.length === 0) {
        message.info('请输入音频地址')
        return
      }
      if (this.audioName.length === 0) {
        message.info('请输入音频名称')
        return
      }
      const params = {
        'audioUri': this.audioUri,
        'audioName': this.audioName,
        // 转换优先级
        'translatePriority': 100
      }
      createConvert(params).then(res => {
        if (res.code === 200) {
          message.success('创建成功！')
          this.back()
        }
      })
    }
  }
}
</script>
