<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <div class="table-page-search-wrapper">
        <a-form layout="inline">
          <a-row :gutter="8">
            <a-col :md="4" :sm="8">
              <span style="font-size:18px">{{ "搜索选项" }} </span>
            </a-col>
            <a-col :md="4" :sm="8">
              <a-form-item label="">
                <a-input v-model="queryParam.id" placeholder="账号ID"/>
              </a-form-item>
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                <a-input v-model="queryParam.id" placeholder="账号昵称"/>
              </a-form-item>
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                <a-select v-model="queryParam.status" placeholder="审核状态：全部" default-value="0">
                  <a-select-option value="0">全部</a-select-option>
                  <a-select-option value="1">关闭</a-select-option>
                  <a-select-option value="2">运行中</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="6" :sm="24">
              <span class="table-page-search-submitButtons" :style="advanced && { float: 'right', overflow: 'hidden' } || {} ">
                <a-button style="margin-left: 8px" type="primary" @click="$refs.table.refresh(true)">搜索</a-button>
                <a-button style="margin-left: 8px" type="primary" @click="() => this.queryParam = {}">重置</a-button>
                <a-button style="margin-left: 8px" type="primary" @click="() => this.queryParam = {}">刷新列表</a-button>
              </span>
            </a-col>
          </a-row>
          <a-row :gutter="8">
            <a-col :md="4" :sm="8">
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                  <a-date-picker v-model="queryParam.date" style="width: 100%" placeholder="最后登录时间：全部"/>
                </a-form-item>
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                  <a-date-picker v-model="queryParam.date" style="width: 100%" placeholder="最近审核时间：全部"/>
                </a-form-item>
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                <a-input v-model="queryParam.id" placeholder="现有任务数"/>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </div>
      <s-table
        ref="table"
        size="default"
        rowKey="key"
        :columns="columns"
        :data="loadData"
        showPagination="auto"
        :alert="true"
        :rowSelection="rowSelection"
      >
        <span slot="userId" slot-scope="text">
          {{ text }}
        </span>
        <span slot="nickName" slot-scope="text">
          {{ text }}
        </span>
        <span slot="finishTaskCount" slot-scope="text">
          {{ text }}
        </span>
        <span slot="point" slot-scope="text">
          {{ text }}
        </span>
        <span slot="loginStatus" slot-scope="text">
          {{ text }}
        </span>
        <span slot="currentTaskCount" slot-scope="text">
          {{ text }}
        </span>
        <span slot="dispatchUser" slot-scope="text">
          <a-badge :status="text | queueStatusTypeFilter" :text="text | queueStatusFilter" />
        </span>
        <span slot="lastLoginTime" slot-scope="text">
          <ellipsis :length="10" tooltip>{{ text }}</ellipsis>
        </span>
        <span slot="lastReviewTime" slot-scope="text">
          <ellipsis :length="10" tooltip>{{ text }}</ellipsis>
        </span>
        <span slot="reviewStatus" slot-scope="text">
          <a-badge :status="text | reviewStatusTypeFilter" :text="text | reviewStatusFilter" />
        </span>
      </s-table>
      <a-button type="primary" style="margin-left: 12px" @click="back">返回</a-button>
      <a-button type="primary" style="margin-left: 12px" @click="handleFreeDispatchTask">分派选中账号</a-button>
      <create-form
        ref="createModal"
        :visible="visible"
        :loading="confirmLoading"
        :model="mdl"
        @cancel="handleCancel"
        @ok="handleOk"
      />
      <step-by-step-modal ref="modal" @ok="handleOk"/>
    </a-card>
  </page-header-wrapper>
</template>

<script>
import moment from 'moment'
import { STable, Ellipsis } from '@/components'
import { getRoleList } from '@/api/manage'
import { addTask } from '@/api/verify'
import { userList } from '@/api/login'

import StepByStepModal from '@/views/list/modules/StepByStepModal'
import CreateForm from '@/views/list/modules/CreateForm'

const columns = [
  // {
  //   title: '账号ID',
  //   dataIndex: 'userId',
  //   scopedSlots: { customRender: 'userId' },
  //   sorter: true
  // },
  {
    title: '账号昵称',
    dataIndex: 'userName',
    sorter: true
  },
  {
    title: '最后登录时间',
    dataIndex: 'loginTime',
    scopedSlots: { customRender: 'loginTime' },
    sorter: true
  },
  {
    title: '最近审核时间',
    dataIndex: 'createdAt',
    scopedSlots: { customRender: 'createdAt' },
    sorter: true
  },
  {
    title: '在线状态',
    dataIndex: 'userEnable',
    sorter: true
  },
  {
    title: '现有任务数',
    dataIndex: 'currentTaskCount',
    sorter: true
  },
  {
    title: '完成任务数',
    dataIndex: 'finishTaskCount',
    sorter: true
  },
  {
    title: '现有积分',
    dataIndex: 'point',
    scopedSlots: { customRender: 'point' },
    sorter: true
  }
]

const reviewStatusMap = {
  0: {
    status: 'default',
    text: '未审核'
  },
  1: {
    status: 'processing',
    text: '人工审核进行中'
  },
  2: {
    status: 'success',
    text: '人工审核通过'
  },
  3: {
    status: 'error',
    text: '人工审核拒绝'
  }
}
const queueStatusMap = {
  0: {
    status: 'default',
    text: '失败'
  },
  1: {
    status: 'processing',
    text: '运行中'
  },
  2: {
    status: 'success',
    text: '成功'
  },
  3: {
    status: 'error',
    text: '异常'
  }
}

export default {
  name: 'SelectDispatchList',
  components: {
    STable,
    Ellipsis,
    CreateForm,
    StepByStepModal
  },
  data () {
    this.columns = columns
    return {
      // create model
      visible: false,
      confirmLoading: false,
      mdl: null,
      // 高级搜索 展开/关闭
      advanced: true,
      // 查询参数
      queryParam: {},
      audioId: this.$route.query.audioId,
      // 加载数据方法 必须为 Promise 对象
      routerDetailPath: '/review/transfer-detail',
      loadData: parameter => {
        return userList()
          .then(res => {
            console.log('userList', res)
            const body = {
              data: res.data.rows === null ? [] : res.data.rows,
              pageNo: res.data.page,
              pageSize: res.data.limit,
              totalCount: res.data.total,
              totalPage: res.data.total / res.data.limit
            }
            return body
          })
      },
      selectedRowKeys: [],
      selectedRows: []
    }
  },
  filters: {
    queueStatusFilter (type) {
      return queueStatusMap[type].text
    },
    queueStatusTypeFilter (type) {
      return queueStatusMap[type].status
    },
    reviewStatusFilter (type) {
      return reviewStatusMap[type].text
    },
    reviewStatusTypeFilter (type) {
      return reviewStatusMap[type].status
    }
  },
  created () {
    getRoleList({ t: new Date() })
  },
  computed: {
    rowSelection () {
      return {
        selectedRowKeys: this.selectedRowKeys,
        onChange: this.onSelectChange,
        type: 'radio'
      }
    }
  },
  methods: {
    handleDetail (record) {
      this.$router.push({
        path: this.routerDetailPath,
        params: {
          taskId: '123weq'
        }
      })
    },
    handleAdd () {
      this.mdl = null
      this.visible = true
    },
    handleEdit (record) {
      this.visible = true
      this.mdl = { ...record }
    },
    handleOk () {
      const form = this.$refs.createModal.form
      this.confirmLoading = true
      form.validateFields((errors, values) => {
        if (!errors) {
          console.log('values', values)
          if (values.id > 0) {
            // 修改 e.g.
            new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve()
              }, 1000)
            }).then(res => {
              this.visible = false
              this.confirmLoading = false
              // 重置表单数据
              form.resetFields()
              // 刷新表格
              this.$refs.table.refresh()

              this.$message.info('修改成功')
            })
          } else {
            // 新增
            new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve()
              }, 1000)
            }).then(res => {
              this.visible = false
              this.confirmLoading = false
              // 重置表单数据
              form.resetFields()
              // 刷新表格
              this.$refs.table.refresh()

              this.$message.info('新增成功')
            })
          }
        } else {
          this.confirmLoading = false
        }
      })
    },
    handleCancel () {
      this.visible = false

      const form = this.$refs.createModal.form
      form.resetFields() // 清理表单数据（可不做）
    },
    handleSub (record) {
      if (record.status !== 0) {
        this.$message.info(`${record.no} 订阅成功`)
      } else {
        this.$message.error(`${record.no} 订阅失败，规则已关闭`)
      }
    },
    onSelectChange (selectedRowKeys, selectedRows) {
      this.selectedRowKeys = selectedRowKeys
      this.selectedRows = selectedRows
    },
    toggleAdvanced () {
      this.advanced = !this.advanced
    },
    resetSearchForm () {
      this.queryParam = {
        date: moment(new Date())
      }
    },
    back () {
      this.$router.go(-1)
    },
    handleFreeDispatchTask () {
      if (this.selectedRows.length === 0) {
        this.$message.error('请选择指派人')
        return
      }
      const addTaskParams = {
        audioId: this.audioId,
        dispatchTo: this.selectedRows[0].userId
      }
      addTask(addTaskParams)
          .then(res => {
            if (res.code === 200) {
              this.$message.success('指派成功')
              this.$router.go(-1)
            }
          })
    }
  }
}
</script>
