<template>
  <div :style="{marginBottom:'20px'}">
    <!--审核信息-->
    <a-card>
      <a-form layout="inline">
        <a-row>
          <a-col :md="8" :sm="24">
            <a-form-item label="音频网址">
              <a-input v-model="transforDetail.audioUri" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="音频名称">
              <a-input v-model="transforDetail.audioName" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <!-- <a-form-item label="系列组别">
              <a-select placeholder="请选择" default-value="0">
                <a-select-option value="0">小组1</a-select-option>
                <a-select-option value="1">小组2</a-select-option>
                <a-select-option value="2">小组3</a-select-option>
              </a-select>
            </a-form-item> -->
          </a-col>
        </a-row>

        <a-row>
          <a-col :md="8" :sm="24">
            <a-form-item label="音频时长">
              <a-input v-model="transforDetail.audioLengthDes" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item v-if="transforDetail.textNum != 0" label="文本行数">
              <a-input v-model="transforDetail.textNum" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item v-if="transforDetail.textCount != 0" label="文本字数">
              <a-input v-model="transforDetail.textCount" placeholder />
            </a-form-item>
          </a-col>
        </a-row>
          <div :style="{marginTop:'20px'}">
            <audio-player
              :src="transforDetail.audioUri ? transforDetail.audioUri : ''"
              :duration-mill="transforDetail.audioLength ? transforDetail.audioLength : 0"
            />
          </div>
          <a-row :style="{marginTop:'20px'}">
          <a-col :md="8" :sm="24">
            <a-button type="primary" style="margin-left: 12px" >返回列表</a-button>
            <a-button v-if="translateState == 1||translateState == 4" type="primary" style="margin-left: 12px" >删除任务</a-button>
            <a-button v-if="translateState == 4" type="primary" style="margin-left: 12px">重置列表</a-button>
          </a-col>
          <a-col :md="8" :sm="24"></a-col>
          <a-col :md="8" :sm="24">
            <a-button v-if="translateState == 1" type="primary" style="margin-left: 12px">队列置首</a-button>
            <a-button v-if="translateState == 1" type="primary" style="margin-left: 12px">队列前移</a-button>
            <a-button v-if="translateState == 1" type="primary" style="margin-left: 12px">队列后移</a-button>
            <a-button v-if="translateState == 1" type="primary" style="margin-left: 12px">队列置尾</a-button>
          </a-col>
        </a-row>
      </a-form>
    </a-card>
  </div>
  <!--播放器-->
</template>

<script>
// import util from '../../components/audioplayer/assist'
import AudioPlayer from '@/components/audioplayer/AudioPlayer'
import { convertDetail } from '@/api/verify'

export default {
  name: 'TransferDetail',
  components: {
    AudioPlayer
  },
  data () {
    return {
      transforDetail: [],
      audioId: this.$route.query.audioId,
      translateState: this.$route.query.translateState
    }
  },
  mounted () {
    this.getTransferDetail()
  },
  methods: {
    getTransferDetail () {
      const queryParam = {
        audioId: this.audioId
      }
      convertDetail(queryParam).then(res => {
        this.transforDetail = res.data
        console.log('translateState', this.translateState)
      })
    }
  }
}
</script>
