<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <div class="table-page-search-wrapper">
        <a-form layout="inline">
          <a-row :gutter="8">
            <a-col :md="4" :sm="8">
              <span style="font-size:18px">{{ "搜索选项" }} </span>
            </a-col>
            <a-col :md="4" :sm="8">
              <a-form-item label="">
                <a-input v-model="filterName" placeholder="音频名称"/>
              </a-form-item>
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                  <a-date-picker v-model="uploadTime" @change="changeUploadTime" style="width: 100%" placeholder="派单时间：全部"/>
                </a-form-item>
            </a-col>
            <a-col :md="4" :sm="8">
                <a-form-item label="">
                  <a-date-picker v-model="joinTime" @change="changeJoinTime" style="width: 100%" placeholder="审核时间：全部"/>
                </a-form-item>
            </a-col>
            <a-col :md="6" :sm="24">
              <span class="table-page-search-submitButtons" :style="advanced && { float: 'right', overflow: 'hidden' } || {} ">
                <a-button style="margin-left: 8px" type="primary" @click="search">搜索</a-button>
                <a-button style="margin-left: 8px" type="primary" @click="reset">重置</a-button>
                <a-button style="margin-left: 8px" type="primary" @click="refresh">刷新列表</a-button>
              </span>
            </a-col>
          </a-row>
        </a-form>
      </div>
      <s-table
        ref="table"
        size="default"
        rowKey="key"
        :columns="columns"
        :data="loadData"
        :alert="true"
        :rowSelection="rowSelection"
        showPagination="auto"
      >
        <span slot="detail" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">详情</a>
          </template>
        </span>
        <span slot="no" slot-scope="text, record, index">
          {{ index + 1 }}
        </span>
        <span slot="dispatchUser" slot-scope="text">
          <a-badge :status="text | queueStatusTypeFilter" :text="text | queueStatusFilter" />
        </span>
        <span slot="audioName" slot-scope="text">
          <ellipsis :length="30" tooltip>{{ text }}</ellipsis>
        </span>
        <span slot="reviewState" slot-scope="text">
          <a-badge :status="text | reviewStatusTypeFilter" :text="text | reviewStatusFilter" />
        </span>
      </s-table>
      <a-button type="primary" style="margin-left: 12px" @click="handleFreeDispatchTask">自动分派选中</a-button>
      <a-button type="primary" style="margin-left: 12px" @click="handleSelectDispatchTask">指定分派选中</a-button>
      <a-button type="primary" style="margin-left: 12px">收回选中任务</a-button>
      <create-form
        ref="createModal"
        :visible="visible"
        :loading="confirmLoading"
        :model="mdl"
        @cancel="handleCancel"
        @ok="handleOk"
      />
      <step-by-step-modal ref="modal" @ok="handleOk"/>
    </a-card>
  </page-header-wrapper>
</template>

<script>
import moment from 'moment'
import { STable, Ellipsis } from '@/components'
import { getRoleList } from '@/api/manage'
import { waitList } from '@/api/verify'

import StepByStepModal from '@/views/list/modules/StepByStepModal'
import CreateForm from '@/views/list/modules/CreateForm'

const columns = [
  {
    title: '操作',
    dataIndex: 'detail',
    scopedSlots: { customRender: 'detail' }
  },
  {
    title: '编号',
    dataIndex: 'no',
    scopedSlots: { customRender: 'no' },
    sorter: true
  },
  {
    title: '音频名称',
    dataIndex: 'audioName',
    scopedSlots: { customRender: 'audioName' }
  },
  {
    title: '派单对象',
    dataIndex: 'dispatchBy',
    sorter: true,
    customRender: (text) => {
      if (text.length === 0) {
        return '-'
      } else {
        return text
      }
    }
  },
  {
    title: '派单时间',
    dataIndex: 'dispatchAt',
    sorter: true,
    customRender: (text) => {
      if (text.length === 0) {
        return '-'
      } else {
        return text
      }
    }
  },
  {
    title: '审核时间',
    dataIndex: 'reviewAt',
    sorter: true,
    customRender: (text) => {
      if (text.length === 0) {
        return '-'
      } else {
        return text
      }
    }
  },
  {
    title: '审核状态',
    dataIndex: 'reviewState',
    scopedSlots: { customRender: 'reviewState' }
  }
]

const reviewStatusMap = {
  1: {
    status: 'success',
    text: '人工审核通过'
  },
  2: {
    status: 'error',
    text: '人工审核进拒绝'
  },
  3: {
    status: 'processing',
    text: '待人工审核'
  },
  4: {
    status: 'default',
    text: '自动审核'
  }
}
const queueStatusMap = {
  0: {
    status: 'default',
    text: '失败'
  },
  1: {
    status: 'processing',
    text: '运行中'
  },
  2: {
    status: 'success',
    text: '成功'
  },
  3: {
    status: 'error',
    text: '异常'
  }
}

export default {
  name: 'UnDispatchTaskList',
  components: {
    STable,
    Ellipsis,
    CreateForm,
    StepByStepModal
  },
  data () {
    this.columns = columns
    return {
      // create model
      visible: false,
      confirmLoading: false,
      mdl: null,
      // 高级搜索 展开/关闭
      advanced: true,
      // 加载数据方法 必须为 Promise 对象
      routerDetailPath: '/review/transfer-detail',
      loadData: parameter => {
        const requestParameters = {
          page: this.page,
          limit: this.pageSize,
          filterName: this.filterName
        }
        console.log('waitList req', requestParameters)
        return waitList(requestParameters)
          .then(res => {
            console.log('waitList res', res)
            const body = {
              data: res.data.rows === null ? [] : res.data.rows,
              pageNo: res.data.page,
              pageSize: res.data.limit,
              totalCount: res.data.total,
              totalPage: res.data.total / res.data.limit
            }
            return body
          })
      },
      selectedRowKeys: [],
      selectedRows: [],
      // 上传时间
      uploadTime: 0,
      // 加入时间
      joinTime: 0,
      // 搜索音频名称
      filterName: ''
    }
  },
  filters: {
    queueStatusFilter (type) {
      return queueStatusMap[type].text
    },
    queueStatusTypeFilter (type) {
      return queueStatusMap[type].status
    },
    reviewStatusFilter (type) {
      return reviewStatusMap[type].text
    },
    reviewStatusTypeFilter (type) {
      return reviewStatusMap[type].status
    }
  },
  created () {
    getRoleList({ t: new Date() })
  },
  computed: {
    rowSelection () {
      return {
        selectedRowKeys: this.selectedRowKeys,
        onChange: this.onSelectChange,
        type: 'radio'
      }
    }
  },
  methods: {
    search () {
      this.$refs.table.refresh(true)
    },
    reset () {
      this.uploadTime = 0
      this.joinTime = 0
      this.filterName = ''
    },
    refresh () {
      this.reset()
      this.$refs.table.refresh(true)
    },
    changeUploadTime (data) {
      const date = new Date(data)
      this.uploadTime = date.getTime()
    },
    changeJoinTime (data) {
      const date = new Date(data)
      this.joinTime = date.getTime()
    },
    handleDetail (record) {
      this.$router.push({
        path: this.routerDetailPath,
        query: {
          audioId: record.audioId
        }
      })
    },
    handleAdd () {
      this.mdl = null
      this.visible = true
    },
    handleEdit (record) {
      this.visible = true
      this.mdl = { ...record }
    },
    handleOk () {
      const form = this.$refs.createModal.form
      this.confirmLoading = true
      form.validateFields((errors, values) => {
        if (!errors) {
          console.log('values', values)
          if (values.id > 0) {
            // 修改 e.g.
            new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve()
              }, 1000)
            }).then(res => {
              this.visible = false
              this.confirmLoading = false
              // 重置表单数据
              form.resetFields()
              // 刷新表格
              this.$refs.table.refresh()

              this.$message.info('修改成功')
            })
          } else {
            // 新增
            new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve()
              }, 1000)
            }).then(res => {
              this.visible = false
              this.confirmLoading = false
              // 重置表单数据
              form.resetFields()
              // 刷新表格
              this.$refs.table.refresh()

              this.$message.info('新增成功')
            })
          }
        } else {
          this.confirmLoading = false
        }
      })
    },
    handleCancel () {
      this.visible = false

      const form = this.$refs.createModal.form
      form.resetFields() // 清理表单数据（可不做）
    },
    handleSub (record) {
      if (record.status !== 0) {
        this.$message.info(`${record.no} 订阅成功`)
      } else {
        this.$message.error(`${record.no} 订阅失败，规则已关闭`)
      }
    },
    onSelectChange (selectedRowKeys, selectedRows) {
      this.selectedRowKeys = selectedRowKeys
      this.selectedRows = selectedRows
    },
    toggleAdvanced () {
      this.advanced = !this.advanced
    },
    resetSearchForm () {
      this.queryParam = {
        date: moment(new Date())
      }
    },
    handleFreeDispatchTask () {
      this.$router.push({
        path: '/review/dispatch-list'
      })
    },
    handleSelectDispatchTask () {
      if (this.selectedRows.length === 0) {
        this.$message.error('请选择指派的任务')
        return
      }
      this.$router.push({
        path: '/review/selectdispatch-list',
        query: {
          audioId: this.selectedRows[0].audioId
        }
      })
    }
  }
}
</script>
