<template>
  <div>
    <a-card>
      <a-form layout="inline">
        <a-row>
          <a-col :md="8" :sm="24">
            <a-form-item label="快照编号">
              <a-input v-model="snapshotInfo.snapshotId" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="快照时间">
              <a-input v-model="snapshotInfo.snapshotAt" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="变动文本">
              <a-input v-model="snapshotInfo.snapshotDiffRows" placeholder />
            </a-form-item>
          </a-col>
        </a-row>

        <a-row>
          <a-col :md="8" :sm="24">
            <a-form-item label="音频名称">
              <a-input v-model="snapshotInfo.audioName" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="音频时长">
              <a-input v-model="snapshotInfo.audioLength" placeholder />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="文本字数">
              <a-input v-model="snapshotInfo.audioTotalWords" placeholder />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </a-card>

    <a-row :style="{ marginTop: '15px' }">
    <a-card :loading="loading" :bordered="false" style="margin-top 20px">
      <a-list :pagination="{showSizeChanger: true, showQuickJumper: true, pageSize: 5, total: 50}">
        <a-list-item :key="index" v-for="(item, index) in textList">
          <a-list-item-meta>
            <template slot="description">
              <div>
                <a-row gutter="10">
                  <a-col :md="3">
                    <span>{{ item.duration }}</span>
                  </a-col>
                  <a-col :md="19">
                    <span>{{ item.oldSentences }}</span>
                  </a-col>
                  <a-col :md="2">
                  </a-col>
                </a-row>
                <a-row gutter="10" style="margin-top: 12px">
                  <a-col :md="3">
                    <a-input v-model="item.duration" />
                  </a-col>
                  <a-col :md="19">
                    <a-input v-model="item.newSentences" />
                  </a-col>
                  <a-col :md="2">
                    <a-icon type="download" style="font-size:20px" />
                    <a-icon type="close" style="font-size:20px" />
                  </a-col>
                </a-row>
              </div>
            </template>
          </a-list-item-meta>
        </a-list-item>
      </a-list>

      <a-button type="primary" @click="back" >返回</a-button>
      <a-button type="primary" style="margin-left: 12px" @click="handleSubmitAll">全部提交</a-button>
      <a-button type="primary" style="margin-left: 12px">全部取消</a-button>
    </a-card>
    </a-row>
  </div>
</template>

<script>
import { convertSnapshotDetail, SubmitSnapShot } from '@/api/verify'

export default {
  name: 'SnapshotDetail',
  data () {
    return {
      snapshotInfo: {},
      textList: [],
      snapshotId: this.$route.query.snapshotId
    }
  },
  mounted () {
    this.getSnapshotInfo()
  },
  methods: {
    getSnapshotInfo () {
      const requestParameters = {
        snapshotId: this.snapshotId
      }
      convertSnapshotDetail(requestParameters)
          .then(res => {
            this.snapshotInfo = res.data
            this.textList = res.data.snapshotDiffResult
          })
    },
    // 全部提交
    handleSubmitAll () {
      const submitParams = {
        'snapshotId': this.snapshotId,
        'translateResult': this.textList
      }
      console.log('convertSnapshotDetail', submitParams)
      SubmitSnapShot(submitParams).then(res => {
        console.log('convertSnapshotDetail', res)
        if (res.code === 200) {
          this.$message.success('提交成功！')
          this.back()
        }
      })
    },
    back () {
      this.$router.go(-1)
    }
  }
}
</script>
