<template>
  <a-card>
    <div class="account-settings-info-view">
      <a-row :gutter="16" type="flex" justify="left">
        <a-col :order="isMobile ? 2 : 1" :md="24" :lg="10">
          <a-form layout="vertical">
            <a-form-item label="角色编号">
              <a-input placeholder="" v-model="roleNum"/>
            </a-form-item>
            <a-form-item label="角色ID">
              <a-input placeholder="" v-model="roleIdName"/>
            </a-form-item>
            <a-form-item label="角色名称">
              <a-input placeholder="" v-model="roleName"/>
            </a-form-item>
            <a-form-item label="角色说明">
              <a-input placeholder="" v-model="roleDes"/>
            </a-form-item>
          </a-form>
        </a-col>
      </a-row>
      <a-form-item label="启用状态">
        <a-select placeholder="请选择" default-value="0" :style="{ width: '200px' }" >
          <a-select-option value="0">未启用</a-select-option>
          <a-select-option value="1">启用</a-select-option>
        </a-select>
      </a-form-item>
      <a-button type="primary" @click="back" :loading="loading">返回</a-button>
      <a-button
        type="primary"
        @click="createRole"
        :loading="loading"
        :style="{ marginLeft: '20px' }"
      >创建</a-button>
    </div>
  </a-card>
</template>

<script>
import { message } from 'ant-design-vue'
import { createRole } from '@/api/system'

export default {
  data () {
    return {
        roleNum: this.$route.query.roleNum,
        roleName: '',
        roleIdName: '',
        roleDes: '',
        roleEnable: 0
    }
  },
  methods: {
    onSelect (record) {
      console.log('onSelect', record)
    },
    back () {
      this.$router.go(-1)
    },
    createRole () {
      const params = {
        roleNum: this.roleNum,
        roleName: this.roleName,
        roleIdName: this.roleIdName,
        roleDes: this.roleDes,
        roleEnable: 1
      }
      console.log('createRole', params)
      createRole(params).then(res => {
        if (res.code === 200) {
          message.success('创建成功！')
          this.back()
        } else {
          message.info('创建失败！')
        }
      })
    }
  }
}
</script>
