<template>
<page-header-wrapper>
  <a-card :bordered="false">
    <div>
      <h2>审核功能设置</h2>
      <a-row>
        <a-col :md="6">
          <a-form>
            <a-form-item label="自动审核通过的置信度阈值（%）">
              <a-input value="95" />
            </a-form-item>
          </a-form>
        </a-col>
        <a-col :md="6" style="marginLeft:20px">
          <a-form>
            <a-form-item label="人均待审核任务数上限值">
              <a-input value="10" />
            </a-form-item>
          </a-form>
        </a-col>
      </a-row>
      <h2>界面交互设置</h2>
      <a-row :gutter="8">
        <a-col :md="6">
          <a-form-item>
            <a-select default-value="0" style="width: 100%">
              <a-select-option value="0">编号</a-select-option>
              <a-select-option value="1">关闭</a-select-option>
              <a-select-option value="2">运行中</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :md="6" style="marginLeft:20px">
          <a-form-item style="width: 100%">
            <a-select default-value="0" style="width: 100%">
              <a-select-option value="0">倒序</a-select-option>
              <a-select-option value="1">正序</a-select-option>
              <a-select-option value="2">运行中</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <a-button type="primary">保存</a-button>
      <a-button type="primary" style="marginLeft:20px">取消</a-button>
    </div>
  </a-card>
  </page-header-wrapper>
</template>

<script>
export default {}
</script>
