<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <!-- <div style="float: right;marginBottom: 20px"> -->
      <!-- </div> -->
      <s-table
        ref="table"
        size="default"
        rowKey="key"
        :columns="columns"
        :data="loadData"
        showPagination="auto"
      >
        <span slot="detail" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">详情</a>
          </template>
        </span>
        <span slot="no" slot-scope="text, record, index">
          {{ index + 1 }}
        </span>

        <span slot="userId" slot-scope="text">
          {{ text }}
        </span>
        <span slot="nickName" slot-scope="text">
          {{ text }}
        </span>
        <span slot="finishTaskCount" slot-scope="text">
          {{ text }}
        </span>
        <span slot="point" slot-scope="text">
          {{ text }}
        </span>
        <span slot="loginStatus" slot-scope="text">
          {{ text }}
        </span>
        <span slot="currentTaskCount" slot-scope="text">
          {{ text }}
        </span>
        <span slot="dispatchUser" slot-scope="text">
          <a-badge :status="text | queueStatusTypeFilter" :text="text | queueStatusFilter" />
        </span>
        <span slot="lastLoginTime" slot-scope="text">
          <ellipsis :length="10" tooltip>{{ text }}</ellipsis>
        </span>
        <span slot="lastReviewTime" slot-scope="text">
          <ellipsis :length="10" tooltip>{{ text }}</ellipsis>
        </span>
        <span slot="reviewStatus" slot-scope="text">
          <a-badge :status="text | reviewStatusTypeFilter" :text="text | reviewStatusFilter" />
        </span>
      </s-table>
      <a-button type="primary" style="margin-left: 12px" @click="back">返回</a-button>
        <a-button type="primary" style="margin-left: 12px" @click="createRole">创建角色</a-button>
      <create-form
        ref="createModal"
        :visible="visible"
        :loading="confirmLoading"
        :model="mdl"
        @cancel="handleCancel"
        @ok="handleOk"
      />
      <step-by-step-modal ref="modal" @ok="handleOk"/>
    </a-card>
  </page-header-wrapper>
</template>

<script>
import moment from 'moment'
import { STable, Ellipsis } from '@/components'
import { UserRoleList } from '@/api/system'

import StepByStepModal from '@/views/list/modules/StepByStepModal'
import CreateForm from '@/views/list/modules/CreateForm'

const columns = [
  {
    title: '操作',
    dataIndex: 'detail',
    scopedSlots: { customRender: 'detail' }
  },
  {
    title: '编号',
    dataIndex: 'no',
    scopedSlots: { customRender: 'no' },
    sorter: true
  },
  {
    title: '角色ID',
    dataIndex: 'roleIdName',
    scopedSlots: { customRender: 'roleIdName' },
    sorter: true
  },
  {
    title: '角色名称',
    dataIndex: 'roleName',
    scopedSlots: { customRender: 'roleName' },
    sorter: true
  },
  {
    title: '角色说明',
    dataIndex: 'roleDes',
    scopedSlots: { customRender: 'roleDes' },
    sorter: true
  },
  {
    title: '启用状态',
    dataIndex: 'roleEnable',
    scopedSlots: { customRender: 'roleEnable' },
    sorter: true
  },
  {
    title: '成员数量',
    dataIndex: 'memberCount',
    scopedSlots: { customRender: 'memberCount' },
    sorter: true
  }
]

const reviewStatusMap = {
  0: {
    status: 'default',
    text: '未审核'
  },
  1: {
    status: 'processing',
    text: '人工审核进行中'
  },
  2: {
    status: 'success',
    text: '人工审核通过'
  },
  3: {
    status: 'error',
    text: '人工审核拒绝'
  }
}
const queueStatusMap = {
  0: {
    status: 'default',
    text: '失败'
  },
  1: {
    status: 'processing',
    text: '运行中'
  },
  2: {
    status: 'success',
    text: '成功'
  },
  3: {
    status: 'error',
    text: '异常'
  }
}

export default {
  name: 'RoleSetting',
  components: {
    STable,
    Ellipsis,
    CreateForm,
    StepByStepModal
  },
  data () {
    this.columns = columns
    return {
      // create model
      visible: false,
      confirmLoading: false,
      mdl: null,
      // 高级搜索 展开/关闭
      advanced: true,
      // 查询参数
      queryParam: {},
      // 创建角色num = total +1
      roleNum: 0,
      // 加载数据方法 必须为 Promise 对象
      routerDetailPath: '/system/rolesetting/detail',
      loadData: parameter => {
        const requestParameters = {
          'page': 1,
          'limit': 10
        }
        return UserRoleList(requestParameters)
          .then(res => {
            console.log('convertSnapshotList', res)
            const body = {
              data: res.data.rows === null ? [] : res.data.rows,
              pageNo: res.data.page,
              pageSize: res.data.limit,
              totalCount: res.data.total,
              totalPage: res.data.total / res.data.limit
            }
            return body
          })
      },
      selectedRowKeys: [],
      selectedRows: []
    }
  },
  filters: {
    queueStatusFilter (type) {
      return queueStatusMap[type].text
    },
    queueStatusTypeFilter (type) {
      return queueStatusMap[type].status
    },
    reviewStatusFilter (type) {
      return reviewStatusMap[type].text
    },
    reviewStatusTypeFilter (type) {
      return reviewStatusMap[type].status
    }
  },
  computed: {
    rowSelection () {
      return {
        selectedRowKeys: this.selectedRowKeys,
        onChange: this.onSelectChange
      }
    }
  },
  methods: {
    createRole () {
      this.$router.push({ path: '/system/system/CreateRole', query: { roleNum: this.roleNum } })
    },
    handleDetail (record) {
      this.$router.push({
        path: this.routerDetailPath,
        params: {
          taskId: '123weq'
        }
      })
    },
    handleAdd () {
      this.mdl = null
      this.visible = true
    },
    handleEdit (record) {
      this.visible = true
      this.mdl = { ...record }
    },
    handleOk () {
      const form = this.$refs.createModal.form
      this.confirmLoading = true
      form.validateFields((errors, values) => {
        if (!errors) {
          console.log('values', values)
          if (values.id > 0) {
            // 修改 e.g.
            new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve()
              }, 1000)
            }).then(res => {
              this.visible = false
              this.confirmLoading = false
              // 重置表单数据
              form.resetFields()
              // 刷新表格
              this.$refs.table.refresh()

              this.$message.info('修改成功')
            })
          } else {
            // 新增
            new Promise((resolve, reject) => {
              setTimeout(() => {
                resolve()
              }, 1000)
            }).then(res => {
              this.visible = false
              this.confirmLoading = false
              // 重置表单数据
              form.resetFields()
              // 刷新表格
              this.$refs.table.refresh()

              this.$message.info('新增成功')
            })
          }
        } else {
          this.confirmLoading = false
        }
      })
    },
    handleCancel () {
      this.visible = false

      const form = this.$refs.createModal.form
      form.resetFields() // 清理表单数据（可不做）
    },
    handleSub (record) {
      if (record.status !== 0) {
        this.$message.info(`${record.no} 订阅成功`)
      } else {
        this.$message.error(`${record.no} 订阅失败，规则已关闭`)
      }
    },
    onSelectChange (selectedRowKeys, selectedRows) {
      this.selectedRowKeys = selectedRowKeys
      this.selectedRows = selectedRows
    },
    toggleAdvanced () {
      this.advanced = !this.advanced
    },
    resetSearchForm () {
      this.queryParam = {
        date: moment(new Date())
      }
    },
    back () {
      this.$router.go(-1)
    }
  }
}
</script>
