<template>
  <page-header-wrapper>
    <a-card>
      <a-form-item :label="账号角色">
        <a-select placeholder="请选择" default-value="0" :style="{ width: '120px' }">
          <a-select-option value="0">内部审核组</a-select-option>
        </a-select>
      </a-form-item>
      <s-table :columns="columns" :data="loadData">
      </s-table>
    </a-card>
  </page-header-wrapper>
</template>

<script>
import { PageHeaderWrapper } from '@ant-design-vue/pro-layout'
import { getServiceList } from '@/api/manage'

export default {
  name: 'UserPermissionSetting',
  components: {
    PageHeaderWrapper
  },
  data () {
    return {
      columns: [
        {
          title: '一级功能分组',
          dataIndex: 'level1'
        },
        {
          title: '二级功能分组',
          dataIndex: 'level2'
        }
      ],
      loadData: parameter => {
        const result = [
            {
              level1: '审核统计',
              level2: ''
            },
            {
              level1: '审核管理',
              level2: ''
            },
            {
              level1: '个人中心',
              level2: ''
            },
            {
              level1: '系统设置',
              level2: '',
              children: [
                {
                  level1: '',
                  level2: '全局变量设置'
                },
                {
                  level1: '',
                  level2: '账号角色设置'
                },
                {
                  level1: '',
                  level2: '角色权限设置'
                },
                {
                  level1: '',
                  level2: '账号设置'
                }
              ]
            }
          ]
          return getServiceList()
          .then(res => {
            const body = {
              data: result,
              pageNo: 1,
              pageSize: 10,
              totalCount: 40,
              totalPage: 4
            }
            return body
        })
      }
    }
  }
}
</script>
