<template>
  <div class="account-settings-info-view">
    <a-card>
    <a-row :gutter="16" type="flex" justify="center">
      <a-col :order="isMobile ? 2 : 1" :md="24" :lg="16">
        <a-form-item label="账号详情" style="font-size:18px" :colon="false">
        </a-form-item>
        <a-form
          :form="form"
          @submit="handleSubmit"
          layout="vertical">
          <a-form-item
            label="账号手机" >
            <a-input size="large" v-model="userInfo.userPhoneNum" disabled="true">
              <a-select slot="addonBefore" size="large" defaultValue="+86" disabled="true">
                <a-select-option value="+86">+86</a-select-option>
              </a-select>
            </a-input>
          </a-form-item>
          <a-form-item
            :label="$t('account.settings.basic.email')"
            :required="false"
          >
            <a-input v-model="userInfo.userEmail" disabled="true"/>
          </a-form-item>
          <a-form-item
            :label="$t('account.settings.basic.nickname')"
          >
            <a-input
              v-model="userInfo.userName"
              :placeholder="$t('account.settings.basic.nickname-message')"
            />
          </a-form-item>
          <a-form-item
            :label="$t('account.settings.basic.profile')"
          >
            <a-textarea v-model="userInfo.userIntroduction" rows="4" :placeholder="$t('account.settings.basic.profile-message')"/>
          </a-form-item>
          <a-form-item
            label="账号角色"
          >
            <a-input v-model="userInfo.userRole" disabled="true"/>
          </a-form-item>
          <a-form-item
            label="账号状态"
          >
            <a-input v-model="userInfo.userEnable" disabled="true"/>
          </a-form-item>
          <a-row :gutter="16" type="flex" justify="left">
            <a-col :md="24" :lg="16">
              <span class="table-page-search-submitButtons" :style="advanced && { float: 'right', overflow: 'hidden' } || {} ">
                <a-button style="margin-left: 0px" type="primary" @click="back">返回</a-button>
                <a-button style="margin-left: 8px" type="primary" htmlType="submit" @click="submit">保存更新</a-button>
                <a-button style="margin-left: 8px" type="primary" @click="handleLogout">退出登录</a-button>
              </span>
            </a-col>
          </a-row>
        </a-form>
      </a-col>
      <a-col :order="1" :md="24" :lg="8" :style="{ minHeight: '180px' }">
        <div class="ant-upload-preview" @click="$refs.modal.edit(1)" >
          <a-icon type="cloud-upload-o" class="upload-icon"/>
          <div class="mask">
            <a-icon type="plus" />
          </div>
          <img :src="option.img"/>
        </div>
      </a-col>
    </a-row>
    <avatar-modal ref="modal" @ok="setavatar"/>
  </a-card>
  </div>
</template>
<script>
import AvatarModal from './AvatarModal'
import { baseMixin } from '@/store/app-mixin'
import { Modal } from 'ant-design-vue'
import { updateUserInfo } from '@/api/login'
import storage from 'store'
import { USER_ID } from '@/store/mutation-types'

export default {
  mixins: [baseMixin],
  components: {
    AvatarModal
  },
  data () {
    return {
      // cropper
      form: this.$form.createForm(this),
      preview: {},
      option: {
        img: '/avatar2.jpg',
        info: true,
        size: 1,
        outputType: 'jpeg',
        canScale: false,
        autoCrop: true,
        // 只有自动截图开启 宽度高度才生效
        autoCropWidth: 180,
        autoCropHeight: 180,
        fixedBox: true,
        // 开启宽度和高度比例
        fixed: true,
        fixedNumber: [1, 1]
      },
      userInfo: {}
    }
  },
  mounted () {
    this.loadUserInfo()
  },
  methods: {
    submit () {
      const updateParams = {
        userId: storage.get(USER_ID),
        userName: this.userInfo.userName,
        userIntroduction: this.userInfo.userIntroduction
      }
      console.log('loadUserInfo', updateParams)
      updateUserInfo(updateParams).then(res => {
        if (res.code === 200) {
          this.$message.success('提交成功')
        }
      })
    },
    loadUserInfo () {
      this.userInfo = this.$store.getters.userInfo
      console.log('loadUserInfo', this.userInfo)
    },
    handleSubmit (e) {
      e.preventDefault()
      const { form: { validateFields } } = this
      const validateFieldsKey = ['username']
      validateFields(validateFieldsKey, { force: false }, (err, values) => {
        if (!err) {
          console.log('info form', values)
        } else {
        }
      })
    },
    setavatar (url) {
      this.option.img = url
    },
    back () {
      this.$router.go(-1)
    },
    handleLogout (e) {
      Modal.confirm({
        title: this.$t('layouts.usermenu.dialog.title'),
        content: this.$t('layouts.usermenu.dialog.content'),
        onOk: () => {
          // return new Promise((resolve, reject) => {
          //   setTimeout(Math.random() > 0.5 ? resolve : reject, 1500)
          // }).catch(() => console.log('Oops errors!'))
          return this.$store.dispatch('Logout').then(() => {
            this.$router.push({ name: 'login' })
          })
        },
        onCancel () {}
      })
    }
  }
}
</script>

<style lang="less" scoped>

  .avatar-upload-wrapper {
    height: 200px;
    width: 100%;
  }

  .ant-upload-preview {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    border-radius: 50%;
    box-shadow: 0 0 4px #ccc;

    .upload-icon {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 1.4rem;
      padding: 0.5rem;
      background: rgba(222, 221, 221, 0.7);
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .mask {
      opacity: 0;
      position: absolute;
      background: rgba(0,0,0,0.4);
      cursor: pointer;
      transition: opacity 0.4s;

      &:hover {
        opacity: 1;
      }

      i {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1rem;
        margin-top: -1rem;
        color: #d6d6d6;
      }
    }

    img, .mask {
      width: 100%;
      max-width: 180px;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
</style>
