<template>
  <page-header-wrapper>
    <div :style="{marginBottom:'20px'}">
      <a-breadcrumb>
        <a-breadcrumb-item><router-link :to="{ path: '/' }">首页</router-link></a-breadcrumb-item>
				<a-breadcrumb-item><router-link :to="{ path: '/' }">审核管理</router-link></a-breadcrumb-item>
        <a-breadcrumb-item><router-link :to="{ path: '/' }">待审核列表</router-link></a-breadcrumb-item>
				<a-breadcrumb-item>审核详情</a-breadcrumb-item>
      </a-breadcrumb>
    </div>
    <div :style="{marginBottom:'20px'}">
      <!--审核信息-->
      <a-card >
        <a-form layout="inline">
          <a-row>
            <a-col :md="8" :sm="24">
              <a-form-item label="音频网址">
                <a-input v-model="transforDetail.audioUri" placeholder />
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="音频名称">
                <a-input v-model="transforDetail.audioName" placeholder />
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="系列组别">
                <a-select placeholder="请选择" default-value="0">
                  <a-select-option value="0">小组1</a-select-option>
                  <a-select-option value="1">小组2</a-select-option>
                  <a-select-option value="2">小组3</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>

          <a-row>
            <a-col :md="8" :sm="24">
              <a-form-item label="音频时长">
                <a-input v-model="transforDetail.audioLengthDes" placeholder />
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="文本行数">
                <a-input v-model="transforDetail.textNum" placeholder />
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="文本字数">
                <a-input v-model="transforDetail.textCount" placeholder />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </a-card>
    </div>
    <!--播放器-->
    <div>
			<audio-player
        ref="audioPlayer"
				:src="transforDetail.audioUri ? transforDetail.audioUri : ''"
				:duration-mill="transforDetail.audioLength ? transforDetail.audioLength : 0"
        @handleTimeUpdate="handleTimeUpdate"
        @handleSeeked="handleSeeked"
        :handleJumpTo="handleJumpTo"
        v-bind:currentCount="totalJumpPosition"
        v-bind:totalCount="totalCount"
			/>
		</div>
    <!--待审核文本列表-->
    <a-card :loading="loading" :bordered="false" style="margin-top 20px">
      <a-list :pagination="paginationOpt" :split="false">
        <a-list-item :key="index" v-for="(item, index) in textList">
          <a-list-item-meta>
            <template slot="description">
              <div>
                <a-row gutter="10">
                  <a-col :md="2" @click="handleJump(index)">
                    <a-input
                      v-model="item.duration"
                      disabled
                      v-if="index === currentPosition"
                      style="border:0.5px solid #2F54EB; text-align: center; color: #000"/>
                    <a-input
                      v-model="item.duration"
                      style="text-align: center"
                      disabled
                      v-else/>
                  </a-col>
                  <a-col :md="20" @click="handleJump(index)">
                    <a-input
                      v-model="item.sentences"
                      v-if="index === currentPosition"
                      style="border:0.5px solid #2F54EB"
                      @blur="saveItem(item, index)" />
                    <a-input
                      v-model="item.sentences"
                      v-else/>
                  </a-col>
                  <a-col :md="2">
                    <template v-if="index === currentPosition">
                      <template v-if="item.sentences !== originTranslateResult[(paginationOpt.current - 1) * paginationOpt.pageSize + index].sentences">
                        <a v-if="!item.alreadyEdited" @click="saveItem(item, index)">
                          <a-icon type="download" style="color: #1890ff;font-size:20px; margin-right: 1.5rem" />
                        </a>
                        <a-icon v-else type="download" style="color: #666;font-size:20px; margin-right: 1.5rem" />
                      </template>
                      <a-icon v-else type="download" style="color: #ccc;font-size:20px; margin-right: 1.5rem" />
                    </template>
                    <template v-if="index !== currentPosition && item.sentences !== originTranslateResult[(paginationOpt.current - 1) * paginationOpt.pageSize + index].sentences">
                      <a-icon type="download" style="color: #666;font-size:20px; margin-right: 1.5rem" />
                    </template>
                    <template v-if="index !== currentPosition && item.sentences === originTranslateResult[(paginationOpt.current - 1) * paginationOpt.pageSize + index].sentences">
                      <a-icon type="download" style="color: #ccc;font-size:20px; margin-right: 1.5rem" />
                    </template>
                    <!--a-icon type="upload" style="font-size:20px" /-->
                    <a v-if="item.sentences !== originTranslateResult[(paginationOpt.current - 1) * paginationOpt.pageSize + index].sentences" @click="resetItem(item, index)">
                      <a-icon type="close" style="color: #1890ff;font-size:20px;" />
                    </a>
                    <a-icon v-else type="close" style="color: #ccc;font-size:20px" />
                  </a-col>
                </a-row>
              </div>
            </template>
          </a-list-item-meta>
        </a-list-item>
      </a-list>

      <a-button type="primary" >返回</a-button>
      <a-button type="primary" @click="submitAll" >全部提交</a-button>
      <a-button style="margin-left: 12px" @click="cancel">全部取消</a-button>
      <div :style="{ marginTop: '12px', marginBottom: '12px' }">
      <a-checkbox v-model="isReview" >审核通过</a-checkbox>
      </div>
    </a-card>
  </page-header-wrapper>
</template>

<script>
import { STable } from '@/components'
import AudioPlayer from '@/components/audioplayer/AudioPlayer'
// import util from '../../components/audioplayer/assist'
import { convertDetail, convertSubmitSnapShot } from '@/api/verify'
// import storage from 'store'
import { Modal, message } from 'ant-design-vue'

export default {
  name: 'VerifyDetail',
  components: {
    STable,
    AudioPlayer
  },
  beforeRouteLeave (to, from, next) {
    const _this = this
    if (this.dataStatus === 'error') {
    // if (this.dataStatus === 'change') {
      Modal.confirm({
        title: '未提交暂存文本行',
        content: '退出本页时，已暂存文本行：0条 尚未提交！',
        okText: '全部提交',
        cancelText: '全部取消',
        onOk: () => {
          next()
        },
        onCancel () {
          _this.onCancelAlert()
          // next()
        }
      })
    } else {
      next()
    }
  },
  data () {
    return {
      // 播放器当前校准本文位置，需要高亮提示
      currentPosition: 0,
      // 跳读在总数据中的实际索引
      totalJumpPosition: 0,
      currentSentence: null,
      needRepeat: 0,
      totalCount: 0,
      dataStatus: 'defalt',
      queryParam: {
        audioId: this.$route.query.audioId
      },
      transforDetail: {},
      // 深拷贝数据源
      originTranslateResult: [],
      // 已编辑数据源
      editTranslateResult: [],
      // 列表双向绑定数据
      textList: [],
      // 是否勾选审核
      isReview: false,
      paginationOpt: {
        // showQuickJumper: true,
        // showSizeChanger: true,
        split: false,
        pageSize: 10,
        total: 250,
        current: 1,
        defaultCurrent: 1,
        onChange: (page, pageSize) => {
          this.paginationOpt.defaultCurrent = page
          this.paginationOpt.defaultPageSize = pageSize
          this.paginationOpt.current = page
          this.paginationOpt.pageSize = pageSize
          this.onChangePage(page, pageSize)
        }
      }
    }
  },
  watch: {
    transforDetail: {
      handler (val, oldVal) {
        if (this.dataStatus === 'defalt') {
          this.dataStatus = 'init'
        } else if (this.dataStatus === 'init') {
          this.dataStatus = 'change'
        }
      },
      deep: true // true 深度监听
    }
  },
  mounted () {
    this.getTransferDetail()
  },
  methods: {
    getTransferDetail () {
      convertDetail(this.queryParam).then(res => {
          this.transforDetail = res.data
          this.textList = this.transforDetail.translateResult.slice(0, this.paginationOpt.pageSize)
          this.originTranslateResult = JSON.parse(JSON.stringify(this.transforDetail.translateResult))
          this.paginationOpt.total = this.transforDetail.translateResult.length
          this.dataBottom = this.paginationOpt.pageSize
          console.log('convertDetail', this.paginationOpt)

          // 初始化播放器文本行数信息
          this.totalJumpPosition = 1
          this.totalCount = this.paginationOpt.total
        })
    },
    submitAll () {
      this.loadEditTranslateResult()
    },
    cancel () {},
    // 监听播放器播放进度，来自audioplayer的内部轮训
    handleTimeUpdate (data) {
      if (this.totalJumpPosition > this.transforDetail.translateResult.length) {
        return
      }

      // console.log('currentTime: ' + data)
      for (const resultIndex in this.transforDetail.translateResult) {
        const result = this.transforDetail.translateResult[resultIndex]
        if (this.needRepeat === 1) {
          if (this.totalJumpPosition === parseInt(result.key)) {
            if (data >= (result.endtime / 1000)) {
              this.$refs.audioPlayer.onChangeProgressNumber(result.starttime)
              this.$refs.audioPlayer.pause()
              this.needRepeat = 0
            }
            break
          }
        } else {
          if (data >= (result.starttime / 1000) && data <= (result.endtime / 1000)) {
            if (this.totalJumpPosition !== parseInt(result.key)) {
              this.totalJumpPosition = result.key
              const jumpToPage = Math.floor((this.totalJumpPosition - 1) / this.paginationOpt.pageSize) + 1
              if (jumpToPage !== this.paginationOpt.current) {
                this.onChangePageWithoutJump(jumpToPage)
              }
              break
            }
          }
        }
      }

      this.currentPosition = (this.totalJumpPosition - 1) % this.paginationOpt.pageSize
    },
    handleSeeked (currentTime) {
    },
    handleJump (index) {
      this.needRepeat = 1
      this.handleJumpTo(this.paginationOpt.pageSize * (this.paginationOpt.current - 1) + index + 1)
    },
    handleJumpTo (index) {
      this.totalJumpPosition = index
      const jumpToItem = this.transforDetail.translateResult[this.totalJumpPosition - 1]

      // 如果跳转到的行数不在当前列表，则先跳转到对应的界面
      const jumpToPage = Math.floor((this.totalJumpPosition - 1) / this.paginationOpt.pageSize) + 1
      if (jumpToPage !== this.paginationOpt.current) {
        this.onChangePageWithoutJump(jumpToPage)
      }
      this.$refs.audioPlayer.onChangeProgressNumber(jumpToItem.starttime)
    },
    onChangePageWithoutJump (jumpToPage) {
      this.paginationOpt.defaultCurrent = jumpToPage
      this.paginationOpt.defaultPageSize = this.paginationOpt.pageSize
      this.paginationOpt.current = jumpToPage
      this.paginationOpt.pageSize = this.paginationOpt.pageSize
      this.textList = this.transforDetail.translateResult.slice(this.paginationOpt.pageSize * (jumpToPage - 1), this.paginationOpt.pageSize * jumpToPage)
    },
    // 分页跳转
    onChangePage (page, pageSize) {
      this.textList = this.transforDetail.translateResult.slice(pageSize * (page - 1), pageSize * page)
      this.handleJumpTo(pageSize * (page - 1) + 1)
    },
    onCancelAlert () {
      console.log('textList', this.textList)
    },
    saveItem (item, index) {
      const realIndex = (this.paginationOpt.current - 1) * this.paginationOpt.pageSize + index
      if (this.transforDetail.translateResult[realIndex].sentences !== this.originTranslateResult[realIndex].sentences) {
        item.alreadyEdited = true
        this.transforDetail.translateResult[realIndex] = item
        this.handleJump(index + 1)
      }
    },
    resetItem (item, index) {
      if (item.alreadyEdited) {
        const realIndex = (this.paginationOpt.current - 1) * this.paginationOpt.pageSize + index
        // this.transforDetail.translateResult[realIndex].sentences = this.originTranslateResult[realIndex].sentences
        item.alreadyEdited = false
        item.sentences = this.originTranslateResult[realIndex].sentences
      }
    },
    // 比对本地已修改记录
    loadEditTranslateResult () {
      this.editTranslateResult = []
      for (let i = 0; i < this.transforDetail.translateResult.length; i++) {
        if (this.originTranslateResult[i].sentences !== this.transforDetail.translateResult[i].sentences) {
          this.editTranslateResult.push({
            key: this.transforDetail.translateResult[i].key,
            sentences: this.transforDetail.translateResult[i].sentences
          })
        }
      }
      if (this.editTranslateResult.length === 0) {
        message.error('暂无修改记录')
        return
      }
      const submitParams = {
        'audioId': this.queryParam.audioId,
        'translateResult': this.editTranslateResult,
        'isRelease': this.isReview ? 1 : 0
      }
      console.log('submitParams', submitParams)
      convertSubmitSnapShot(submitParams).then(res => {
        if (res.code === 200) {
          message.success('提交成功！')
        }
      })
    }
  }
}
</script>
