<template>
  <div class="main">
    <a-form
      id="formLogin"
      class="user-layout-login"
      ref="formLogin"
      :form="form"
      @submit="handleSubmit"
    >
      <a-tabs
        :activeKey="customActiveKey"
        :tabBarStyle="{ textAlign: 'center', borderBottom: 'unset' }"
        @change="handleTabClick"
      >
        <a-tab-pane key="tab1" :tab="$t('user.login.tab-email-reset-code')">
          <a-form-item>
            <a-input
              size="large"
              type="text"
              placeholder="请输入邮箱"
              v-model="state.email"
              v-decorator="[
                'email',
                {rules: [{ required: true, message: $t('user.email.required') }, { validator: handleUsernameOrEmail }], validateTrigger: 'change'}
              ]"
            >
              <a-icon slot="prefix" type="user" :style="{ color: 'rgba(0,0,0,.25)' }"/>
            </a-input>
          </a-form-item>

          <a-row :gutter="16">
            <a-col class="gutter-row" :span="16">
              <a-form-item>
                <a-input v-model="state.smsCode" size="large" type="text" :placeholder="$t('user.login.mobile.verification-code.placeholder')" v-decorator="['smsCode', {rules: [{ required: true, message: $t('user.verification-code.required') }], validateTrigger: 'blur'}]">
                  <a-icon slot="prefix" type="mail" :style="{ color: 'rgba(0,0,0,.25)' }"/>
                </a-input>
              </a-form-item>
            </a-col>
            <a-col class="gutter-row" :span="8">
              <a-button
                class="getCaptcha"
                tabindex="-1"
                :disabled="state.smsSendBtn"
                @click.stop.prevent="getCaptcha"
                v-text="!state.smsSendBtn && $t('user.register.get-verification-code') || (state.time+' s')"
              ></a-button>
            </a-col>
          </a-row>
        </a-tab-pane>
        <a-tab-pane key="tab2" :tab="$t('user.login.tab-mobile-reset-code')">
          <a-form-item>
            <a-input v-model="state.mobile" size="large" type="text" :placeholder="$t('user.login.mobile.placeholder')" v-decorator="['mobile', {rules: [{ required: true, pattern: /^1[34578]\d{9}$/, message: $t('user.login.mobile.placeholder') }], validateTrigger: 'change'}]">
              <a-icon slot="prefix" type="mobile" :style="{ color: 'rgba(0,0,0,.25)' }"/>
            </a-input>
          </a-form-item>

          <a-row :gutter="16">
            <a-col class="gutter-row" :span="16">
              <a-form-item>
                <a-input v-model="state.smsCode" size="large" type="text" :placeholder="$t('user.login.mobile.verification-code.placeholder')" v-decorator="['smsCode', {rules: [{ required: true, message: $t('user.verification-code.required') }], validateTrigger: 'blur'}]">
                  <a-icon slot="prefix" type="mail" :style="{ color: 'rgba(0,0,0,.25)' }"/>
                </a-input>
              </a-form-item>
            </a-col>
            <a-col class="gutter-row" :span="8">
              <a-button
                class="getCaptcha"
                tabindex="-1"
                :disabled="state.smsSendBtn"
                @click.stop.prevent="getCaptcha"
                v-text="!state.smsSendBtn && $t('user.register.get-verification-code') || (state.time+' s')"
              ></a-button>
            </a-col>
          </a-row>
        </a-tab-pane>
      </a-tabs>

      <a-form-item style="margin-top:24px">
        <a-button
          size="large"
          type="primary"
          htmlType="submit"
          class="login-button"
          :loading="state.loginBtn"
          :disabled="state.loginBtn"
        >提交</a-button>
      </a-form-item>
    </a-form>

    <two-step-captcha
      v-if="requiredTwoStepCaptcha"
      :visible="stepCaptchaVisible"
      @success="stepCaptchaSuccess"
      @cancel="stepCaptchaCancel"
    ></two-step-captcha>
  </div>
</template>

<script>
// import md5 from 'md5'
import TwoStepCaptcha from '@/components/tools/TwoStepCaptcha'
import { mapActions } from 'vuex'
import { timeFix } from '@/utils/util'
import { SmsCode, verifyUserInfo, emailCode } from '@/api/login'

export default {
  components: {
    TwoStepCaptcha
  },
  data () {
    return {
      customActiveKey: 'tab1',
      loginBtn: false,
      // login type: 0 email, 1 username, 2 telephone
      loginType: 0,
      isLoginError: false,
      requiredTwoStepCaptcha: false,
      stepCaptchaVisible: false,
      form: this.$form.createForm(this),
      state: {
        time: 60,
        loginBtn: false,
        // login type: 0 email, 1 username, 2 telephone
        loginType: 0,
        smsSendBtn: false,
        email: '',
        mobile: '',
        smsCode: ''
      }
    }
  },
  created () {
    // get2step({ })
    //   .then(res => {
    //     this.requiredTwoStepCaptcha = res.result.stepCode
    //   })
    //   .catch(() => {
    //     this.requiredTwoStepCaptcha = false
    //   })
    // this.requiredTwoStepCaptcha = true
  },
  methods: {
    ...mapActions(['Login', 'Logout']),
    // handler
    handleUsernameOrEmail (rule, value, callback) {
      const { state } = this
      const regex = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/
      if (regex.test(value)) {
        state.loginType = 0
      } else {
        state.loginType = 1
      }
      callback()
    },
    wechatLogin (e) {
      e.preventDefault()
      this.$router.push({ path: 'wechat-login' })
    },
    handleTabClick (key) {
      this.customActiveKey = key
      // this.form.resetFields()
    },
    handleSubmit (e) {
      e.preventDefault()
      const {
        // form: { validateFields },
        state,
        customActiveKey
        // Login
      } = this

      state.loginBtn = true

      // const validateFieldsKey = customActiveKey === 'tab1' ? ['email', 'smsCode'] : ['mobile', 'smsCode']

      let params = {}
      if (customActiveKey === 'tab1') {
        params = {
          userEmail: state.email,
          smsCode: parseInt(state.smsCode)
        }
      } else {
        params = {
          userPhoneNum: state.mobile,
          smsCode: parseInt(state.smsCode)
        }
      }
        console.log('loginParams validateFieldsKey', params)
      verifyUserInfo(params).then(res => {
        if (res.code === 200) {
          this.$router.push({ name: 'resetPassword', query: { customActiveKey: customActiveKey } })
        }
      })

      // validateFields(validateFieldsKey, { force: false }, (err, values) => {
      //   if (!err) {
      //     const loginParams = { ...values }
      //     delete loginParams.username
      //     delete loginParams.password
      //     if (customActiveKey === 'tab1') {
      //       loginParams[!state.loginType ? 'userEmail' : 'userPhoneNum'] = values.username
      //       loginParams.userPassword = md5(values.password)
      //       loginParams.loginMode = 'pwd'
      //     } else {
      //       loginParams.smsCode = parseInt(values.captcha)
      //       loginParams.userPhoneNum = values.mobile
      //       loginParams.loginMode = 'sms'
      //       }
      //     console.log('loginParams', loginParams)
        //   Login(loginParams)
        //     .then((res) => this.loginSuccess(res))
        //     .catch(err => this.requestFailed(err))
        //     .finally(() => {
        //       state.loginBtn = false
        //     })
        // } else {
        //   setTimeout(() => {
        //     state.loginBtn = false
        //   }, 600)
        // }
      // })
    },
    getCaptcha (e) {
      e.preventDefault()
      const { state, customActiveKey } = this
      if (customActiveKey === 'tab1') {
          emailCode({ userEmail: state.email }).then(res => {
            this.$notification['success']({
              message: '提示',
              description: '验证码获取成功，您的验证码为：' + res.data.vCode,
              duration: 8
            })
          })
      } else {
        SmsCode({ userPhoneNum: state.mobile }).then(res => {
            this.$notification['success']({
              message: '提示',
              description: '验证码获取成功，请注意查收',
              duration: 8
            })
          })
      }

      // validateFields(['mobile'], { force: true }, (err, values) => {
      //   if (!err) {
      //     state.smsSendBtn = true

      //     const interval = window.setInterval(() => {
      //       if (state.time-- <= 0) {
      //         state.time = 60
      //         state.smsSendBtn = false
      //         window.clearInterval(interval)
      //       }
      //     }, 1000)

      //     const hide = this.$message.loading('验证码发送中..', 0)
      //     SmsCode({ userPhoneNum: values.mobile }).then(res => {
      //       setTimeout(hide, 2500)
      //       this.$notification['success']({
      //         message: '提示',
      //         description: '验证码获取成功，您的验证码为：' + res.result.captcha,
      //         duration: 8
      //       })
      //     }).catch(err => {
      //       setTimeout(hide, 1)
      //       clearInterval(interval)
      //       state.time = 60
      //       state.smsSendBtn = false
      //       this.requestFailed(err)
      //     })
      //   }
      // })
    },
    stepCaptchaSuccess () {
      this.loginSuccess()
    },
    stepCaptchaCancel () {
      this.Logout().then(() => {
        this.loginBtn = false
        this.stepCaptchaVisible = false
      })
    },
    loginSuccess (res) {
      if (res.code === 200) {
        this.$router.push({ path: '/' })
        // 延迟 1 秒显示欢迎信息
        setTimeout(() => {
          this.$notification.success({
            message: '欢迎',
            description: `${timeFix()}，欢迎回来`
          })
        }, 1000)
        this.isLoginError = false
      } else {
        this.$notification['error']({
          message: '错误',
          description: res.msg,
          duration: 4
        })
      }
    },
    requestFailed (err) {
      this.isLoginError = true
      this.$notification['error']({
        message: '错误',
        description: ((err.response || {}).data || {}).message || '请求出现错误，请稍后再试',
        duration: 4
      })
    }
  }
}
</script>

<style lang="less" scoped>
.user-layout-login {
  label {
    font-size: 14px;
  }

  .getCaptcha {
    display: block;
    width: 100%;
    height: 40px;
  }

  .forge-password {
    font-size: 14px;
  }

  button.login-button {
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
    width: 100%;
  }

  .user-login-other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;

    .item-icon {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.2);
      margin-left: 16px;
      vertical-align: middle;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }

    .register {
      float: right;
    }
  }
}
</style>
