<template>
  <a-row :gutter="16" type="flex" justify="center">
    <a-col :order="isMobile ? 2 : 1" :md="24" :lg="10">
      <a-form layout="vertical">
        <a-form-item label="重置密码">
          <a-input :placeholder="placeholder" v-model="email" />
        </a-form-item>
        <a-form-item label>
          <a-input placeholder="6 - 16位密码，区分大小写" v-model="password" />
        </a-form-item>
        <a-form-item label>
          <a-button type="primary" @click="resetPassword" :loading="loading">重置</a-button>
        </a-form-item>
      </a-form>
    </a-col>
  </a-row>
</template>

<script>
import { resetPassWord } from '@/api/login'
import md5 from 'md5'

export default {
  name: 'resetPassword',
  data () {
    return {
        email: '',
        password: '',
        userPhoneNum: '',
        customActiveKey: this.$route.query.customActiveKey,
        placeholder: ''
    }
  },
  methods: {
      resetPassword () {
          let params = {}
          if (this.customActiveKey === 'tab1') {
              this.placeholder = '邮箱'
              params = {
                  userEmail: this.email,
                  newUserPassword: md5(this.password)
              }
          } else {
              this.placeholder = '手机号'
              params = {
                  userPhoneNum: this.userPhoneNum,
                  newUserPassword: md5(this.password)
              }
          }
          console.log('resetPassword', params)
          resetPassWord(params).then(res => {
            if (res.code === 200) {
              this.$router.push({ name: 'login' })
            }
          })
      }
  }
}
</script>
