<!-- 音频播放器 -->
<template>
  <div class="audio-player">
    <div class="play-container">
      <!-- <span class="current-time-text">{{ currentTime }}</span> -->
      <div>
        <a-col>
          <span>音频文本同步播放器</span>
        </a-col>
        <a-row gutter="20" :style="{ marginTop: '15px' }">
          <a-col :md="13" :style="{ marginTop: '12px' }">
            <ProgressScrollbar
              :value="progressPos"
              :disabled="isDisbaled"
              :buffered="progressBuffered"
              :tags="violationTags"
              :fluent-tags="fluentTags"
              :on-change="onChangeProgress"
              @dragstart="(value) => { progressDraging = value }"
              @dragend="(value) => { progressDraging = value }"
            />
          </a-col>
          <a-col :md="3">
            <a-input v-model="currentTime" />
          </a-col>
          <a-col :md="5">
            <span>当前音频时间 / 剩余音频时间</span>
          </a-col>
          <a-col :md="3">
            <a-input v-model="lessTime" />
          </a-col>
        </a-row>
        <a-row gutter="20" :style="{ marginTop: '15px' }">
          <a-col :md="13">
            <a href="javascript:void(0);" @click="handleOperation('first')">
              <a-icon type="step-backward" style="font-size:45px" />
            </a>
            <a href="javascript:void(0);" @click="handleOperation('prev')">
              <a-icon type="fast-backward" style="font-size:45px;marginLeft:20px" />
            </a>
            <a href="javascript:void(0);" @click="handleOperation('toggle')">
              <a-icon :type="isPlay ? 'pause-circle' : 'play-circle'" style="font-size: 45px;marginLeft:20px"/>
            </a>
            <a href="javascript:void(0);" @click="handleOperation('next')">
              <a-icon type="fast-forward" style="font-size:45px;marginLeft:20px" />
            </a>
            <a href="javascript:void(0);" @click="handleOperation('last')">
              <a-icon type="step-forward" style="font-size:45px;marginLeft:20px" />
            </a>
          </a-col>
          <a-col :md="3">
            <a-input v-model="currentCount" v-if="totalCount != 0" />
          </a-col>
          <a-col :md="5">
            <span v-if="totalCount != 0">当前文本行数 / 剩余文本行数</span>
          </a-col>
          <a-col :md="3">
            <a-input v-model="lessCount" v-if="totalCount != 0" />
          </a-col>
        </a-row>
      </div>
      <!-- <span class="duration-time-text">{{ duration }}</span> -->
    </div>
    <!-- 控制条end -->
    <audio
      ref="audio"
      @durationchange="handleDurationChange"
      @timeupdate="handleTimeUpdate"
      @progress="handleProgress"
      @ended="handleEnded"
      @seeking="handleSeeking"
      @seeked="handleSeeked"
    ></audio>
  </div>
</template>

<script>
import util from './assist'
import ProgressScrollbar from './components/ProgressScrollbar'
import VolumnScrollbar from './components/VolumbScrollbar'

export default {
  name: 'AudioPlayer',

  props: {
    src: { type: String, default: '' }, // 播放地址
    autoplay: { type: Boolean, default: false }, // 是否自动播放
    loop: { type: Boolean, default: false }, // 循环播放
    durationMill: { type: Number, default: 0 }, // 音频总时长-毫秒
    violationTags: {
      type: Array,
      default: () => []
    }, // 标记
    fluentTags: {
      type: Array,
      default: () => []
    }, // 标记
    handleJumpTo: {
      type: Function,
      default: null
    },
    currentCount: { type: Number, default: 0 }, // 当前文本行数
    totalCount: { type: Number, default: 0 } // 剩余文本行数
  },

  components: {
    ProgressScrollbar,
    VolumnScrollbar
  },

  data () {
    return {
      player: null, // 播放器
      source: '', // 播放地址
      currentTime: '00:00', // 当前播放分秒
      lessTime: '00:00', // 剩余时间
      duration: '00:00', // 总分秒
      isPlay: false, // 是否正在播放
      isLoaded: false, // 是否加载完成
      isEnded: false, // 是否播放结束
      isDisbaled: false, // 是否禁用播放（地址为空时）
      isSeek: false,
      progressPos: 0, // 播放位置
      progressBuffered: 0, // 已加载进度
      progressDraging: false,
      taskInfo: {}
    }
  },

  computed: {
    lessCount () {
      return this.totalCount - this.currentCount
    }
  },

  watch: {
    // 音频地址
    src (value) {
      if (this.source === value) return // 地址相同则直接返回
      this.source = value
      this.load()
    }
  },

  mounted () {
    this.initialize()
  },

  methods: {
    // 初始化
    initialize () {
      this.player = this.$refs.audio
      if (this.src && this.src !== '') {
        this.source = this.src
        this.load()
      }
    },

    /*****************************************************************************************************/

    // 播放器事件-音频时长
    handleDurationChange () {
      this.duration = util.timeFormat(this.player.duration)
      this.lessTime = this.duration
    },

    // 播放器事件-下载音频进度
    handleProgress () {
      const { buffered, duration } = this.player
      const percent = buffered.length ? buffered.end(buffered.length - 1) / duration : 0
      this.progressBuffered = util.percentFormat(percent)
      this.isLoaded = this.progressBuffered > 99
    },

    // 播放器事件-播放位置更改
    handleTimeUpdate () {
      let { currentTime, duration, lessTime } = this.player
      if (isNaN(currentTime)) currentTime = 0
      if (isNaN(lessTime)) lessTime = 0
      if (isNaN(duration)) duration = 0
      this.currentTime = util.timeFormat(currentTime)
      this.lessTime = util.timeFormat(duration - currentTime)
      if (!this.progressDraging) {
        let percent = currentTime / duration
        if (isNaN(percent)) percent = 0
        this.progressPos = parseInt(percent * 100)
      }
      this.$emit('handleTimeUpdate', currentTime)
    },

    // 播放器事件-播放结束
    handleEnded () {
      this.isPlay = false
      this.isEnded = true
      this.$message.info('播放结束')
    },

    // 播放、暂停、快进、快退
    handleOperation (type) {
      if (this.isDisbaled) return
      console.log(type)
      switch (type) {
        case 'toggle': {
          this.isPlay ? this.pause() : this.play()
          break
        }
        case 'first': {
          this.first()
          break
        }
        case 'prev': {
          this.prev()
          break
        }
        case 'next': {
          this.next()
          break
        }
        case 'last': {
          this.last()
          break
        }
      }
    },

    handleSeeking () {
      this.isSeek = true
    },

    handleSeeked () {
      this.isSeek = false
      this.$emit('handleSeeked', this.player.currentTime)
    },

    /*****************************************************************************************************/

    // 进度条
    onChangeProgress (value) {
      const { duration } = this.player
      const currentTime = parseInt((value / 100) * (duration || 0))
      const lessTime = parseInt(((duration - value) / 100) * (duration || 0))
      if ('fastSeek' in this.player) {
        this.player.fastSeek(currentTime)
      } else {
        this.player.currentTime = currentTime
      }
      this.currentTime = util.timeFormat(currentTime)
      this.lessTime = util.timeFormat(lessTime)
      this.player.play()
      this.isPlay = true
    },

    // 直接用数值形式更改播放时间
    onChangeProgressNumber (value) {
      value = value / 1000
      console.log('value: ' + value)
      if ('fastSeek' in this.player) {
        this.player.fastSeek(value)
      } else {
        this.player.currentTime = value
      }
      this.currentTime = util.timeFormat(value)
      // this.lessTime = util.timeFormat(lessTime)
      this.player.play()
      this.isPlay = true
    },

    // 音量
    onChangeVolumn (value) {
      this.player.volume = (value / 100).toFixed(1)
    },

    // 音量-静音切换
    onChangeMute ({ isMute, value }) {
      this.player.muted = isMute
      this.player.volume = (value / 100).toFixed(1)
    },

    /*****************************************************************************************************/

    // 加载
    load () {
      const { source, loop } = this
      this.stop()
      this.player.src = source
      this.player.loop = loop
      this.isDisbaled = !source || source === ''

      if (this.autoplay) {
        this.nextTick(() => {
          !this.isDisbaled && this.play()
        })
      }
    },

    // 播放
    play () {
      const { isPlay, isEnded } = this
      if (!isPlay) {
        this.isPlay = true
        this.player.play()
      }
      if (isEnded) {
        this.replay()
      }
    },

    // 暂停
    pause () {
      if (this.isPlay) {
        this.isPlay = false
        this.player.pause()
      }
    },

    // 第一句
    first () {
      this.handleListJumpTo(1)
    },

    // 上一句
    prev () {
      if (this.currentCount > 1) {
        this.handleListJumpTo(this.currentCount - 1)
      }
    },

    // 下一句
    next () {
      if (this.currentCount < this.totalCount) {
        this.handleListJumpTo(this.currentCount + 1)
      }
    },

    // 最后一句
    last () {
      this.handleListJumpTo(this.totalCount)
    },

    // 重播
    replay () {
      this.player.currentTime = 0
    },

    handleListJumpTo (index) {
      if (this.handleJumpTo) {
        this.handleJumpTo(index)
      }
    },

    // 停止
    stop () {
      this.pause()
      this.currentTime = '00:00'
      this.lessTime = '00:00'
      this.lessTime = '00:00'
      this.duration = '00:00'
      this.source = ''
      this.isPlay = false
      this.isLoaded = false
      this.isEnded = false
      this.progressPos = 0
      this.progressBuffered = 0
      this.player.src = ''
    }

    /*****************************************************************************************************/
  }
}
</script>

<style lang="less">
@import './AudioPlayer.less';
</style>
