// 音频播放器
.audio-player {
	@audio-player-width: 500px;

	@scrollbar-height: 8px;
	@scrollbar-track-color: #f5f5f5;
	@scrollbar-progress-load-color: #dddddd;
	@scrollbar-progress-color: #1890ff;
	@scrollbar-thumb: #ddd;

	min-width: @audio-player-width;
	padding: 30px 20px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;

	.play-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;

		> div {
			flex: 1;
			margin-left: 10px;
			margin-right: 10px;
		}

		> span {
			display: inline-block;
			width: 50px;
			text-align: center;
		}
	}

	// 进度条
	.audio-scrollbar {
		position: relative;

		&-track {
			position: relative;
			width: 100%;
			height: @scrollbar-height;
			background-color: @scrollbar-track-color;
			border-radius: @scrollbar-height / 2px;
		}

		&-progress-load {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: @scrollbar-height;
			background-color: @scrollbar-progress-load-color;
			border-radius: @scrollbar-height / 2px;
			z-index: 3;
		}

		&-progress {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: @scrollbar-height;
			background-color: @scrollbar-progress-color;
			border-radius: @scrollbar-height / 2px;
			z-index: 5;
		}

		&-tags {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: @scrollbar-height;
			background: transparent;
			border-radius: @scrollbar-height / 2px;
			z-index: 8;

			> span {
				position: absolute;
				top: 50%;
				height: 4px;
				background: rgba(245, 34, 45, 1);
				transform: translate(0, -50%);
			}
		}

		&-fluent {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: @scrollbar-height;
			background: transparent;
			border-radius: @scrollbar-height / 2px;
			z-index: 10;

			> span {
				position: absolute;
				top: 50%;
				height: 4px;
				background: rgba(34, 245, 45, 1);
				transform: translate(0, -50%);
			}
		}

		&-thumb {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -4px;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #FFF;
			box-shadow: 0 0 15px rgba(0, 0, 0, .1);
			cursor: pointer;
			z-index: 10;
			transform: translateX(-50%);

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background-color: @scrollbar-progress-color;
				border-radius: 50%;
			}
		}
	}

	// 控制条
	.control-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.operation-box {
			> a {
				display: inline-block;
				width: 32px;
				height: 32px;
				line-height: 32px;
				text-align: center;
				margin-left: 20px;
				border-radius: 50%;

				> i {
					font-size: 20px;
				}

				&:first-child {
					margin-left: 0;
				}
			}
		}

		// 音量
		.volumn-box {
			display: flex;
			flex-direction: row;
			align-items: center;

			.btn-mute {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				margin-right: 12px;
				border-radius: 50%;
				overflow: hidden;

				.icon {
					font-size: 24px;
				}
			}
		}

		.volumn-scrollbar {
			&-track {
				display: flex;
				align-items: center;
				position: relative;
				width: 100px;
				height: @scrollbar-height;
				background-color: @scrollbar-track-color;
				border-radius: @scrollbar-height / 2px;
			}

			&-progress {
				height: @scrollbar-height;
				background-color: @scrollbar-progress-color;
				border-radius: @scrollbar-height / 2px;
				z-index: 3;
			}

			&-thumb {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 0;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: #FFF;
				box-shadow: 0 0 15px rgba(0, 0, 0, .1);
				cursor: pointer;
				z-index: 5;
				transform: translateX(-50%);

				&:after {
					content: "";
					display: block;
					width: 8px;
					height: 8px;
					background-color: @scrollbar-progress-color;
					border-radius: 50%;
				}
			}
		}
	}

	// 音频
	audio {
		display: none;
	}
}
